html,
body {
  overflow: hidden;
  margin: 0;
  user-select: none;
  width: 100%;
  height: 100%;
}


.text-box {
    border: 2px solid #5a5a5a; 
    padding: 10px 15px;      
    margin: 10px;            
    display: inline-block; 
    font-size: 18px;
    color: #333;       /* 1. 요소를 자유롭게 이동시킬 수 있도록 설정 */ /* Webkit 브라우저 호환성 */
    cursor: grab;             /* 2. 드래그 가능한 요소임을 시각적으로 표시 */
    touch-action: none;
    position: absolute;
}

/* ---------------------------------------------------- */

/* 2. 고유 색상 스타일 (배경색만 다름) */
.color-brown1 {
    background-color: #ffb451; /* 연한 빨강 */
    top: 50px; left: 50px;
}

.color-brown2 {
    background-color: #ffb451; /* 연한 파랑 */
    top: 50px; left: 70px;
}

.color-green {
    background-color: #39ff39; /* 연한 초록 */
    top: 50px; left: 90px;
}

.color-yellow {
    background-color: #fff171; /* 연한 노랑 */
    top: 50px; left: 110px;
}

.color-pink {
    background-color: #ffb0ce; /* 연한 보라 */
    top: 50px; left: 130px;
}

