body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    user-select: none;
}


.draggable-emoji {
    font-size: 50px; 
    cursor: grab; 
    position: absolute; 
    top: 50px; 
    left: 50px;
    z-index: 10;
}


#one {
    top: 100px;
    left: 100px;
}

#two {
    top: 100px;
    left: 130px;
}


#three{
    top: 200px;
    left: 100px;
}

#four {
    top: 200px;
    left: 130px;
}

#five {
    top: 200px;
    left: 160px;
}

#six {
    top: 100px;
    left: 160px;
}

#seven {
    top: 200px;
    left: 190px;
}

.dragging {
    cursor: grabbing;
    z-index: 20; 
}

#container{
width: 700px;
    height: 700px; 
    background-color: rgb(12, 5, 98);
    position:absolute;
    top:300px;
    left:300px;

}